.pumpkin {
  position: absolute;
  left: 40%;
  height: 100px;
  width: 100px;
  outline: 1px solid red;
}
.pumpkin--inner {

}
.pumpkin__longitude {

}
.pumpkin__longitude--1 {

}
.pumpkin__longitude--2 {

}
.pumpkin__longitude--3 {

}
.pumpkin__stem {
}